@use '../base/font-face' as *;
@use '../abstracts/' as *;

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html{
  // font-size: rem(16);
  font-family: $font-family;
  scroll-behavior: smooth;
}

body{
  background: var(--white);
  background-color: #f9f9fd;
}

.pattern{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0.4;
  background-image:  linear-gradient(#f7e8d3 2.2px, transparent 2.2px), linear-gradient(90deg, #f7e8d3 2.2px, transparent 2.2px), linear-gradient(#f7e8d3 1.1px, transparent 1.1px), linear-gradient(90deg, #f7e8d3 1.1px, #f9f9fd 1.1px);
  background-size: 55px 55px, 55px 55px, 11px 11px, 11px 11px;
  background-position: -2.2px -2.2px, -2.2px -2.2px, -1.1px -1.1px, -1.1px -1.1px;
}

.pattern2{
  background-color: #f9f9fd;
  opacity: 0.2;
  background-image:  linear-gradient(135deg, #f7e8d3 25%, transparent 25%), linear-gradient(225deg, #f7e8d3 25%, transparent 25%), linear-gradient(45deg, #f7e8d3 25%, transparent 25%), linear-gradient(315deg, #f7e8d3 25%, #f9f9fd 25%);
  background-position:  11px 0, 11px 0, 0 0, 0 0;
  background-size: 11px 11px;
  background-repeat: repeat;
}