$skin-color: #f7e8d3;
$skin-dark-color: #efd1a8;
$black: #000;
$black-grey: #1a1a1a;
$white: #fff;
$white-grey: #fffffe;

// Alias
$skin-light: $skin-color;
$skin-dark: $skin-dark-color;
$black-0: $black;
$black-1: $black-grey;
$white-0: $white;
$white-1: $white-grey;
